$transition-duration: 0.15s;

.sectionLink {
  transition: all $transition-duration ease;
  text-transform: uppercase;
  opacity: 0.5;
  color: var(--mantine-color-white) !important;

  @media screen and (min-width: 760px) {
    // use :hover for desktop
    &:hover {
      opacity: 0.9;
      color: var(--mantine-color-anchor) !important;
      .navIndicator {
        width: 4rem;
        background-color: var(--mantine-color-anchor);
      }
    }
  }

  @media screen and (max-width: 760px) {
    // use :active for mobile
    &:active {
      opacity: 0.9;
      color: var(--mantine-color-anchor) !important;
      .navIndicator {
        width: 4rem;
        background-color: var(--mantine-color-anchor);
      }
    }
  }

  &.active {
    opacity: 0.9;
    color: var(--mantine-color-anchor) !important;

    .navIndicator {
      width: 4rem;
      background-color: var(--mantine-color-anchor);
    }
  }
}

.navIndicator {
  content: '';
  display: block;
  width: 1.5rem;
  height: 1px;
  background-color: var(--mantine-color-white);
  transition: all $transition-duration cubic-bezier(0.4, 0, 0.2, 1);
}