.container {
  .highlight {
    transition: all 0.2s ease-in-out;
    opacity: 1;

    &:hover {
      opacity: 1;
    }
  }

  &:hover {
    .highlight {
      opacity: 0.4;
    }

    .highlight:hover {
      opacity: 1;
    }
  }
}