$primary-color-light-hover-transparent: color-mix(in srgb, var(--mantine-primary-color-light-hover), transparent 70%);
$border-color-paper: var(--mantine-color-dark-4);
$border-color-image: var(--mantine-color-dark-3);
$border-color-paper-transparent: color-mix(in srgb, $border-color-paper, transparent 100%);

$transition-duration: 0.1s;
$transition-timing-function: ease;

.card {
    position: relative;
    transition-property: background-color, opacity, border;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-timing-function;
    background: none !important;
    padding: var(--mantine-spacing-xs);
    border-top: calc(0.0625rem * var(--mantine-scale)) solid $border-color-paper-transparent;
    // border-left: calc(0.0625rem * var(--mantine-scale)) solid $border-color-paper-transparent;

    &:hover {
        background: $primary-color-light-hover-transparent !important;
        border-top-color: var(--mantine-color-dark-4);
        // border-left-color: var(--mantine-color-dark-4);

        .title {
            color: color-mix(in srgb, var(--mantine-color-anchor), #fff 30%);
        }

        .externalLink {
            opacity: 1;
            top: -2px;
            right: -2px;
        }

        .thumbnail {
            border-color: $border-color-image;
        }
    }
}

.title {
    transition: all $transition-duration $transition-timing-function;
}

.thumbnail {
    transition: border $transition-duration $transition-timing-function;
    border: calc(0.125rem * var(--mantine-scale)) solid $border-color-paper;
}

.externalLink {
    position: absolute;
    transition: all $transition-duration $transition-timing-function;
    top: 2px;
    right: 2px;
    opacity: 0.5;
}